$text--light: #1b1c1d;
$text--dark: white;
$bg--light: white;
$bg--dark: #1b1c1d;
$border--light: #1b1c1d;
$border--dark: white;
$button--bg--light: #eecabe;
$button--bg--dark: #c33506;
$toggle-btn--day-dark: #0692C1;
$toggle-btn--day-light: #A9E7FC;
$toggle-btn--inactive--dark: #3d3f41;
$toggle-btn--selected--dark: #2b2d2e;
$toggle-btn--selected--light: #eecabe;
$toggle-btn--inactive--light: #faf0ed;

$themes: (
    light: (
        bg-color: $bg--light,
        text-color: $text--light,
        border-color: $border--light,
        button-bg-color: $button--bg--light,
        toggle-btn-selected-color: $toggle-btn--selected--light,
        toggle-btn-inactive-color: $toggle-btn--inactive--light
    ),
    dark: (
        bg-color: $bg--dark,
        text-color: $text--dark,
        border-color: $border--dark,
        button-bg-color: $button--bg--dark,
        toggle-btn-selected-color: $toggle-btn--selected--dark,
        toggle-btn-inactive-color: $toggle-btn--inactive--dark
    ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}