@import './theme.scss';
@import '../../theme/_theme.scss';

.pm-button {
    border: 0px;
    border-radius: $large-height / 2;
    font-size: $body-text-size;

    &--mini {
      width: $mini-width;
      height: $mini-height;
      font-size: $subtext-size;
    }
  
    &--small {
      width: $small-width;
      height: $small-height;
      font-size: $subtext-size;
    }
  
    &--medium {
      width: $medium-width;
      height: $medium-height;
    }
  
    &--large {
      width: $large-width;
      height: $large-height;
      font-size: $h5;
    }
  
    &--extra-large {
      width: $extra-large-width;
      height: $extra-large-height;
    }
  
    &--full-width {
      width: 100%;
    }
  
    &__contained {
      border: 0px;
  
      &--primary {
        @include themed() {
          background-color: t('button-bg-color');
          color: t('text-color');
        }
        // background-color: $primary;
        // color: white;
      }
  
      &--secondary {
        background-color: $secondary;
        color: $primary;
      }
    }
  
    &__outlined {
      border: 1px solid $border-color;
      background-color: white;
  
      &--primary {
        color: $primary;
        border: 1px solid $primary;
      }
  
      &--secondary {
        color: $secondary;
      }
  
      &--inactive {
        border: 1px solid $pm-black;
      }
    }
  
    &__text {
      border: 0px;
      background: none;
  
      &--primary {
        color: $primary;
      }
  
      &--secondary {
        color: $secondary;
      }
  
      &--selected {
        background-color: $secondary;
        color: $primary;
      }
  
      &--dark {
        color: black;
      }
  
      &--transparent {
        background: none;
      }
    }
  
    &__circle {
      border-radius: 50%;
      background: none;
      align-items: center;
  
      &--primary {
        // background-color: $primary;
        // color: white;
        @include themed() {
          background: t('button-icon-bg-color');
          color: t('text-color');
        }
      }

      &--icon {
        @include themed() {
          background: t('button-icon-bg-color');
        }
        width: 40px;
        height: 40px;
      }

      &--icon-header {
        @include themed() {
          background: t('button-icon-header-bg-color');
        }
        width: 42px;
        height: 40px;
      }
  
      &--small {
        width: $small-height;
        height: $small-height;
      }
  
      &--medium {
        width: $medium-height;
        height: $medium-height;
      }
  
      &--large {
        width: $large-height;
        height: $large-height;
      }
    }
  }
  
  .pm-button:focus {
    outline: none;
  }