$primary: #c33506;
$secondary: #eecabe;
$neutral: #ebebeb;
$pm-black: #1f2526;

$shadow-color: gray;
$subtext-color: #767272;
$pm-light-gray: #b0b0b0;
$pm-gray: #707070;

$title-color: #242424;
$readable-color: #5a6166;
$link-color: #6592bb;
$subtitle-color: #c6c6c6;

$button-border-color: #d9d9d9;
$inactive-button-text: #a4a4a4;
$subtext-size: 13.33px;
$body-text-size: 16px;
$h5: 19.2px;
$h4: 23.04px;
$h3: 27.65px;
$h2: 33.18px;
$h1: 39.81px;

$body-margin: 30px;
$line-height: 200%;
$letter-spacing: 0.2px;

$border-color: black;
$light-border-color: #d9d9d9;
$mini-width: 30px;
$mini-height: 30px;
$small-width: 140px;
$small-height: 42px;
$medium-width: 200px;
$medium-height: 60px;
$large-width: 250px;
$large-height: 72px;
$extra-large-width: 250px;
$extra-large-height: 50px;