@import "../styles/theme.scss";

.pm-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: $header-height;
  position: relative;

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 2;
  }

  &__logo-image {
    height: 70px;
    width: auto;
    margin: 8px;
  }

  &__logo-title {
    font-size: $h5;
    letter-spacing: 4px;
  }

  &__title {
    // font-size: $body-text-size;
    font-weight: bold;

    &--large {
      font-size: $h4;
      letter-spacing: 4px;
    }

    &--normal {
      font-size: $body-text-size;
      // letter-spacing: 4px;
    }
  }

  &__arrow {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__logout {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end !important;
    margin-right: 30px;
  }
}